body{
    background-color:rgb(209, 209, 209);
    font-family: Calisto MT;
    font-size: 20px;
}


    header{
        background-color: rgb(245, 52, 52);
        font-family: Georgia, 'Times New Roman', Times, serif ;
        display:flex;
        justify-content: space-between;
        font-size: 20PX;
        padding: 20px 30px;
    }

    