body{
    background-color:rgb(219, 228, 243);
    color:black;
    font-size: 30PX;
}
.title{
    font-family:Sitka Small Semibold;
    color: cornflowerblue;
    font-size:30px;
}

header{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    display:flex;
    justify-content: space-between;
    font-size: 20PX;
    padding: 20px 30px;
}
table{
    border-collapse:collapse;
    
}
td{
    border: 1px solid #272524;
    padding: 20px;
    text-align: left;
}
.container{
    color: brown;
}